@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.carousel {
  width: 500px;
  height: 530px;
  box-shadow: 2px 3px 4px rgb(36, 31, 31);
  overflow: hidden;
}
.img-container {
  display: flex;
  transform: translateX(0);
  transition: transform 1s ease-in;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container button {
  width: 49.5%;
  background-color: brown;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: large;
  transition: opacity 0.4s ease-in;
}
button:hover {
  opacity: 0.9;
}
button:focus {
  outline: none;
}
