@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.square {
  height: 1rem;
  width: 1rem;
  box-shadow: 0 0 2px #000;
  background-color: #1d1d1d;
  margin: 2px;
  transition: 2s ease;
}
.square:hover {
  transition-duration: 0s;
}
